<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>
	<form action="/team" method="POST">
		<label for="name"> Team Name<br>
		<input type="text" name="name"/>
		</label><br>
		<label for="coach"> Coach<br>
		<input type="text" name="coach"/>
		</label><br>
		<label for="pg"> Point Guard<br>
		<input type="text" name="pg">
		</label><br>
		<label for="sg">SG<br>
		<input type="text" name="sg">
		</label><br>
		<label for="pf">PF<br>
		<input type="text" name="pf">
		</label><br>
		<label>SF<br>
		<input type="text" name="sf">
		</label><br>		
		<label>C<br>
		<input type="text" name="c">
		</label><br>
		<input type="submit" name="submit" value="submit">
	</form>
 </body>
</html>